@charset "UTF-8";

.member-register__wrapper {
	padding: 2rem;
}

.member-register__wrapper > h1 {
text-align: center;
font-size: 2rem;
}

.member-register__wrapper  > form {
	width: 80%;
	margin: 0 auto;
	margin-top: 3rem;
}
.member-register__wrapper  > form > div {
	width: 50%;
	margin: 0 auto !important;
	margin-bottom: 1.5rem !important;
}


.member-register__wrapper  > form > div > input {
	display: block;
	margin-bottom: 0.3rem;
	width: 100%;
	padding: 0.5rem;
}

.member-register__wrapper  > form > div > input:first-child {
	border: none !important;
	font-weight: bold;
	background-color: #fff !important;
	text-align: left !important;
	font-size: 1.4rem !important;
}

.member-register__wrapper  > form > div:last-child {
	text-align: center;
	margin-top: 2rem;
}

.member-register__wrapper  > form > div:last-child > button {
	width: 8.5rem !important;
	padding: 0.5rem !important;
	font-size: 1.5rem !important;
}

.member-register__wrapper  > form > div:last-child > button:first-child {
	background-color: #0F202E !important;
	border:1px solid #0F202E;
	color: #fff;
}
.member-register__wrapper  > form > div:last-child > button:last-child {
	background-color: #fff;
	border: 1px solid #555;
	color: #555;
}

.member-register__wrapper  > form > table {
	margin: 0 auto;
	width: 100% !important;
	margin-bottom: 5rem;
}

.member-register__wrapper  > form > table input[type="text"]{
	width: 20% !important;
	height: 3rem !important;
}

.member-register__wrapper  > form > table label {
	font-size: 1.3rem !important;
}
.member-register__wrapper  > form > table select {
		height: 3rem !important;
}
