<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="infomation.model.InfomationDAOInter">
	<!-- DB에서 키워드에 맞는 데이터 꺼내오기 -->
	<select id="keyword" resultType="infomation.model.InfomationDTO">
		SELECT * FROM restaurant WHERE food LIKE '%'||#{param1}||'%'
	</select>
	
	<!-- 즐겨찾기 추가하기 -->
	<insert id="favorite" parameterType="infomation.model.FavoriteDTO">
		INSERT INTO favorite (idx, id, place, address, memo)
			VALUES (favo_seq.NEXTVAL, #{id}, #{place}, #{address}, #{memo})
	</insert>
	
	<!-- 즐겨찾기 리스트 가져오기 -->
	<select id="favoriteList" resultType="infomation.model.FavoriteDTO">
		SELECT * FROM favorite WHERE id=#{param1}
	</select>
	
	<!-- 즐겨찾기 항목 삭제하기 -->
	<delete id="favoriteDelete">
		DELETE FROM favorite WHERE idx=#{param1}
	</delete>
	
	<!-- 즐겨찾기 항목 수정하기 -->
	<update id="favoriteModify" parameterType="infomation.model.FavoriteDTO">
		UPDATE favorite SET memo=#{param1} where idx=#{param2}
	</update>
</mapper>
	