<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace에는 서비스객체 역할을 하는 interface의 풀경로를 기술한다. -->
<mapper namespace="mybatis.IBoardDAO">
 	
	<!-- 게시물list 제이슨으로 가져옴 -->
	<select id="androidList" resultType="mybatis.BoardDTO">
		SELECT * FROM board	ORDER BY rownum DESC
	</select>
	
	

	<!-- 게시물 내용보기 -->
	<select id="view" resultType="mybatis.BoardDTO" 
		parameterType="mybatis.ParameterDTO">
		SELECT * FROM board WHERE num=#{num}
	</select>	
	
	<!-- 게시물 작성하기 -->
	<!-- resultType을 명시하지 않더라도 항상 성공 실패시 1과 0을 반환한다.  -->
	<insert id="write" parameterType="mybatis.BoardDTO">
		INSERT INTO board (idx, title, contents, id)
		VALUES (board_seq.nextval, #{title}, #{contents}, #{id})
	</insert>	
	
</mapper>



