<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recommand.model.RecommandDAO">
	<!-- 전체 메뉴 가져오기 -->
	<select id="allData" resultType="recommand.model.RecommandDTO">
		SELECT idx, food, image, recomndCnt, Lgroup
			from (
		    	select rownum rn, idx, food, image, recomndCnt, Lgroup
		    		from food order by DBMS_random.random
			)
	</select>
	
	<!-- 대분류별 메뉴 가져오기 -->
	<select id="selectCateMenu" resultType="recommand.model.RecommandDTO">
		SELECT * FROM food WHERE Lgroup='noodle';
	</select>
	
	<!-- 회원의 대분류 선호 정보 가져오기   -->
	<select id="favCategory" resultType="recommand.model.FavCategoryDTO"
		parameterType="recommand.model.FavCategoryDTO">
		SELECT * FROM preference WHERE id=#{param1}
	</select>
	
	<!-- 월드컵에 필요한 메뉴 가져오기 -->
	<select id="worldcupData" resultType="recommand.model.RecommandDTO"
		parameterType="recommand.model.RecParameterDTO">
		<![CDATA[
			SELECT food, image, recomndCnt
				from (
			    	select rownum rn,food, image, recomndCnt
			    		from food order by DBMS_random.random
				) where rn <= (#{rounds} * 2)
		]]>
	</select>
</mapper>

<!--
	namespace에는 서비스객체 역할을 하는 interface의 풀경로를 기술한다.
	
	호출된 메서드명(id속성) : getTotalCount
	반환타입(resultType속성) : int. 즉, 정수타입으로 반환
	파라미터타입(parameterType속성) : ParameterDTO객체를 통해 모든 파라미터를 전달받는다.
 -->